<h3>Detalle Cooperadores</h3>
<div class="container">
  <div class="row">
    <div
      class="col-md-12 col-sm-12 d-flex justify-content-end align-items-center"
    >
      <button class="btn btn-primary" (click)="showDialog()">
        Agregar nuevo Cooperador
      </button>
    </div>
  </div>
  <br />
  <br />
  <p-panel
    [toggleable]="true"
    *ngFor="let item of cooperadores"
    [transitionOptions]="'1ms'"
    [collapsed]="true"
  >
    <ng-template pTemplate="header">
      <div class="row align-middle">
        <div class="col-md-2 align-middle">
          <i
            class="bi bi-person-circle"
            style="font-size: 60px; color: #6749dd"
          ></i>
        </div>
        <div class="col-md-8">
          <div class="row align-middle">
            <div class="col-md-3"><b>Nombre Apellido</b></div>
            <div class="col-md-7">Rol/Ocupacion</div>
            <div class="col-md-1">
              <i
                class="bi bi-pencil-square"
                style="font-size: 16px; color: #6749dd"
              ></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">Nombre Empresa</div>
          </div>
          <div class="row">
            <div class="col-md-10">correo@dominio.com</div>
          </div>
          <div class="row">
            <div class="col-md-10"><b>Usuarios Por Codigo:</b> 93</div>
          </div>
        </div>
      </div>
    </ng-template>
    <p-table
      [value]="item.lista"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-2">Ventas Cooperadores</div>
          <div
            class="col-md-10 col-sm-12 d-flex justify-content-end align-items-center"
          >
            <!-- <button class="btn btn-primary" (click)="exportExcel()" >Descargar Excel</button> -->
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="suscriptor">
            Nombre<p-sortIcon field="suscriptor"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Correo<p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="nameuser">
            Edad <p-sortIcon field="nameuser"></p-sortIcon>
          </th>
          <th pSortableColumn="suscription">
            Programa Suscrito <p-sortIcon field="suscription"></p-sortIcon>
          </th>
          <th pSortableColumn="sellvalue">
            Monto <p-sortIcon field="sellvalue"></p-sortIcon>
          </th>
          <th pSortableColumn="sellvalue">
            Estado <p-sortIcon field="sellvalue"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.Nombre }}</td>
          <td>{{ product.Correo }}</td>
          <td>{{ product.Edad }}</td>
          <td>{{ product.ProgramaSuscrito }}</td>
          <td>{{ product.Monto }}</td>
          <td>{{ product.Estado }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <br />
</div>

<p-dialog
  [(visible)]="display"
  header="Ingreso Nuevo Operador"
  [style]="{ width: '50vw' }"
  [closable]="true"
>
  <div class="container">
    <br />
    <!-- <form action=""> -->
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
            />
            <label for="float-input">Nombre Cooperador</label>
          </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
            />
            <label for="float-input">Ingrese el Rut</label>
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
            />
            <label for="float-input">Correo Electrónico</label>
          </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-inputMask inputId="inputmask" mask="9999_9999" [(ngModel)]="val2"></p-inputMask>
            <label for="inputmask">Programa suscrito</label>
        </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <p-calendar inputId="calendar" [(ngModel)]="value" appendTo="body"></p-calendar>
            <label for="calendar">Fecha Nacimiento</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-inputNumber [(ngModel)]="val" inputStyleClass="form-control" [max]="100" [min]="0" inputId="float-input"></p-inputNumber>
            <label for="float-input">Descuento</label>
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12"> <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton> Kinesiólogo</div>
        <div class="col-12"><p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton> Hacer Cooperador</div>
      </div>
      <br>
      <div class="row" *ngIf="selectedValue=='val2'">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText [(ngModel)]="val" pInputText > 
            <label for="inputtext">Rol</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText [(ngModel)]="val" pInputText > 
            <label for="inputtext">Empresa</label>
        </span>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedValue=='val2'">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText [(ngModel)]="val" pInputText > 
            <label for="inputtext">Descuento</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText [(ngModel)]="val" pInputText > 
            <label for="inputtext">Código Cooperador</label>
        </span>
        </div>
      </div>
    <!-- </form> -->
  </div>
  <ng-template pTemplate="footer">
    <div class="row ">
      <div class="mx-auto" style="width: 200px;">
        <button (click)="guardarusuario()" class="btn btn-primary">
          <i class="bi bi-save"></i> Guardar
        </button>
      </div>
      
    </div>
    
  </ng-template>
</p-dialog>
