<h3>Detalle Cooperadores</h3>
<div class="container">
  <div class="row">
    <div
      class="col-md-12 col-sm-12 d-flex justify-content-end align-items-center"
    >
      <button class="btn btn-primary" (click)="showDialog()">
        Agregar nuevo Cooperador
      </button>
    </div>
  </div>
  <br />
  <br />
  <p-panel
    [toggleable]="true"
    *ngFor="let datosusuario of cooperadores"
    [transitionOptions]="'1ms'"
    [collapsed]="true"
  >
    <ng-template pTemplate="header">
      <div class="row align-middle">
        <div class="col-md-2 align-middle">
          <i
            class="bi bi-person-circle"
            style="font-size: 60px; color: #6749dd"
          ></i>
        </div>
        <div class="col-md-8">
          <div class="row align-middle">
            <div class="col-md-5"><b> {{datosusuario.name}} </b> </div>
            <div class="col-md-5">Rol/Ocupacion</div>
            <div class="col-md-2">
              <i
                class="bi bi-pencil-square"
                style="font-size: 16px; color: #6749dd"
                (click)="showDialogedit(datosusuario)"
              ></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">Nombre Empresa</div>
          </div>
          <div class="row">
            <div class="col-md-10">correo@dominio.com</div>
          </div>
          <div class="row">
            <div class="col-md-10"><b>Usuarios Por Codigo:</b> 93</div>
          </div>
        </div>
      </div>
    </ng-template>
    <p-table
      [value]="datosusuario.lista"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-striped p-datatable-sm"
      [paginator]="true"
      [rows]="10"
    >
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="col-md-2">Ventas Derivadores</div>
          <div
            class="col-md-10 col-sm-12 d-flex justify-content-end align-items-center"
          >
            <button class="btn btn-primary" (click)="showDialogDerivador()" >Agregar Derivador</button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Editar</th>
          <th pSortableColumn="suscriptor">
            Nombre<p-sortIcon field="suscriptor"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Correo<p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="nameuser">
            Edad <p-sortIcon field="nameuser"></p-sortIcon>
          </th>
          <th pSortableColumn="suscription">
            Programa Suscrito <p-sortIcon field="suscription"></p-sortIcon>
          </th>
          <th pSortableColumn="sellvalue">
            Monto <p-sortIcon field="sellvalue"></p-sortIcon>
          </th>
          <th pSortableColumn="sellvalue">
            Estado <p-sortIcon field="sellvalue"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td> <i
            class="bi bi-pencil-square"
            style="font-size: 16px; color: #6749dd"
            (click)="showDialogDerivadoredit(product)"
          ></i></td>
          <td>{{ product.name }}</td>
          <td>{{ product.email }}</td>
          <td>{{ product.Edad }}</td>
          <td>{{ product.ProgramaSuscrito }}</td>
          <td>{{ product.Monto }}</td>
          <td>{{ product.Estado }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <br />
</div>

<p-dialog
  [(visible)]="display"
  [header]="nombreformingreso"
  [style]="{ width: '50vw' }"
  [closable]="true"
>
 <form action="" [formGroup]="formulario">
  <div class="container">
    <br />
    <!-- <form action=""> -->
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
              formControlName="name"
            />
            <label for="float-input">Nombre Cooperador</label>
          </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
              formControlName="rut"
            />
            <label for="float-input">Ingrese el Rut</label>
          </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              pInputText
              class="form-control"
              formControlName="email"
            />
            <label for="float-input">Correo Electrónico</label>
          </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="programas" formControlName="val2" optionLabel="name" [style]="{width : '100%'}" optionValue="id" ></p-dropdown>
            <label for="dropdown">Programa suscrito</label>
        </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <span class="p-float-label">
            <p-calendar inputId="calendar" appendTo="body"  formControlName="val2"></p-calendar>
            <label for="calendar">Fecha Nacimiento</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <p-inputNumber  inputStyleClass="form-control" [max]="100" [min]="0" inputId="float-input" prefix="%"  formControlName="val2"></p-inputNumber>
            <label for="float-input">Descuento</label>
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12"> <p-inputSwitch   formControlName="selectedValue1"></p-inputSwitch> Kinesiólogo</div>
        <div class="col-12"><p-inputSwitch   formControlName="selectedValue2"></p-inputSwitch> Hacer Cooperador</div>
      </div>
      <br>
      <div class="row" *ngIf="selectedValue2">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText  formControlName="val" pInputText >
            <label for="inputtext">Rol</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText  formControlName="val2" pInputText >
            <label for="inputtext">Empresa</label>
        </span>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="selectedValue2">
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText  formControlName="val2" pInputText prefix="%" >
            <label for="inputtext">Descuento</label>
        </span>
        </div>
        <div class="col-6">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="form-control" pInputText  formControlName="val2" pInputText >
            <label for="inputtext">Código Cooperador</label>
        </span>
        </div>
      </div>
    <!-- </form> -->
  </div>
 </form>
  <ng-template pTemplate="footer">
    <div class="row ">
      <div class="mx-auto" style="width: 200px;">
        <button (click)="guardarusuario()" class="btn btn-primary">
          <i class="bi bi-save"></i> Guardar
        </button>
      </div>

    </div>

  </ng-template>
</p-dialog>
