<!-- 
<div class=" " >
  <div class="fixed" style="height: 100%"><app-sidebar></app-sidebar></div>
  <div class="flex-item" style="border-style: dashed;">
    <div class="header ">
      <div class=""></div>
    </div>
  <div class="main container-fluid">
   <div class="" style="margin-top:30px ;">
    <router-outlet ></router-outlet>
   </div>
  </div></div>
</div> -->

<div>
  <app-sidebar (toggleSideBarFroMe)="sideBarToogle()"></app-sidebar>
  <div class="main" [ngClass]="{ open: latoggle, '': !latoggle }">
    <div class="header"></div>
    <router-outlet class="container"></router-outlet>
  </div>
</div>
